// Colors
$brand-color-light: #60a5fa;
$brand-color-dark: #1d4ed8;
$bg-color: #07172a;
$stroke-color: #1e293b;
$text-color-primary: #f1f5f9;
$text-color-secondary: #cbd5e1;
// Fonts
$font-default: "Archivo", sans-serif;
$heading1: 800 24px/135% $font-default;
$heading2: 800 16px/140% $font-default;
$heading3: 800 14px/140% $font-default;
$text-span: 600 14px/145% $font-default;
$text: 400 16px/140% $font-default;
$text-sm: 400 14px/160% $font-default;
$font-tag: 500 10px/120% $font-default;

//Grid
$grid: grid;
$grid-flow-col: column;
$grid-cols-2: repeat(2, 1fr);
$gap: 16px;
$gap32: 32px;
