@use "../styles/variables.scss" as var;

@mixin grid {
  display: grid;
}
@mixin grid-flow-col {
  grid-auto-flow: column;
}

@mixin grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

@mixin gap-16 {
  gap: 16px;
}

@mixin text-2xl {
  font: var.$heading1;
}

@mixin text-xl {
  font: var.$heading2;
}
@mixin text-lg {
  font: var.$heading3;
}
@mixin text-sm {
  font: var.$text-sm;
}

@mixin content-tag {
  display: inline-block;
  background-color: var.$brand-color-dark;
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: uppercase;
  font: 500 10px/1.2 var.$font-default;
  letter-spacing: 0.04em;
  color: var.$text-color-primary;
  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
}
