---
import Header from "../components/Header.astro";
import Tag from "../components/Tag.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta
      name="description"
      content="Portal de Notícias Desenvolvido por EmmanueL Oliveira"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="container">
    <Header />
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @use "../styles/main.scss" as indx;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: indx.$bg-color;
    color: indx.$text-color-primary;
    font: indx.$text;
  }
  :is(h1, h3, p) {
    font: inherit;
    text-wrap: balance;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: indx.$brand-color-light;
    }
  }
  .container {
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
  }
  img {
    display: block;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  }
  .card {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }
    figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;
    }
  }
</style>
